!!!
%html{lang: I18n.locale}
  %head
    %title= content_for?(:title) ? "#{yield(:title)} - Blog" : 'Blog'
    %meta(http-equiv="content-type" content="text/html" charset="utf-8")
    %meta(http-equiv="x-ua-compatible" content="ie=edge,chrome=1")
    %meta(name="description" content="Blog")
    %meta(name="author" content="Blog")
    %link(rel="shortcut icon" href="/images/favicon.png")

    = stylesheet_link_tag 'application', '//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css',
                          media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = yield :head
  %body
    = render 'layouts/partials/warnings'
    .container-full
      .masthead
        %nav.navbar.navbar-default
          .container-fluid
            / Brand and toggle get grouped for better mobile display
            .navbar-header
              %button.navbar-toggle.collapsed{"aria-expanded" => "false", "data-target" => "#bs-example-navbar-collapse-1", "data-toggle" => "collapse", :type => "button"}
                %span.sr-only Toggle navigation
                %span.icon-bar
                %span.icon-bar
                %span.icon-bar
              %a.navbar-brand{:href => "#"} Brand
            / Collect the nav links, forms, and other content for toggling
            #bs-example-navbar-collapse-1.collapse.navbar-collapse
              %ul.nav.navbar-nav
                %li.active
                  %a{:href => "#"}
                    Link
                    %span.sr-only (current)
                %li
                  %a{:href => "#"} Link
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Dropdown
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Action
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider{:role => "separator"}
                    %li
                      %a{:href => "#"} Separated link
                    %li.divider{:role => "separator"}
                    %li
                      %a{:href => "#"} One more separated link
              %form.navbar-form.navbar-left
                .form-group
                  %input.form-control{:placeholder => "Search", :type => "text"}/
                %button.btn.btn-default{:type => "submit"} Submit
              %ul.nav.navbar-nav.navbar-right
                %li
                  = link_to "log in" ,new_user_session_path 
                %li.dropdown
                  %a.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"}
                    Dropdown
                    %span.caret
                  %ul.dropdown-menu
                    %li
                      %a{:href => "#"} Action
                    %li
                      %a{:href => "#"} Another action
                    %li
                      %a{:href => "#"} Something else here
                    %li.divider{:role => "separator"}
                    %li
                      %a{:href => "#"} Separated link


       
      %hr/
      = render partial: 'layouts/partials/messages'
      = yield
      %hr/
        